# 점프투파이썬 2장 이어서

## 3절 리스트

In [23]:
print("안녕하세요.")

안녕하세요.

In [24]:
print(123)

123

### 리스트 만들기

In [25]:
# 빈 리스트
a = []
a

[]

In [26]:
b = [1,2,3]
b

[1, 2, 3]

In [27]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [28]:
d = [1,2,"Life","is"]
d

[1, 2, 'Life', 'is']

In [29]:
e=[1,2,["Life","is"]]
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱

In [31]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [32]:
a = [1,2,3]
a

[1, 2, 3]

In [33]:
a[1]

2

In [34]:
a[-1]

3

In [35]:
a[-3]

1

In [36]:
e

[1, 2, ['Life', 'is']]

In [37]:
e[2]

['Life', 'is']

In [38]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [51]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [52]:
b=a[0:2]
b

[1, 2]

In [53]:
b=a[:2]
b

[1, 2]

In [54]:
# 리스트의 연산자

In [55]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [56]:
c=a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [57]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [86]:
# 하나의 값 수정하기
a=[1,2,3]

In [87]:
# 해당위치에 삽입
a[2]=4
a

[1, 2, 4]

In [88]:
# 연속된 범위값 수정
a[2:3]

[4]

In [89]:
a[2:3]=['a','b','c']
a

[1, 2, 'a', 'b', 'c']

In [90]:
#중첩하여 수정
a[2]=['a','b','c']

In [91]:
a

[1, 2, ['a', 'b', 'c'], 'b', 'c']

In [93]:
# 리스트 요소 삭제
a=[1,2,3]
del a[2]
a

[1, 2]

In [94]:
a=[1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [97]:
# 리스트에 요소 추가
a =[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [98]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [100]:
# 리스트 정렬
a= [1,3,4,5,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [101]:
# 리스트 뒤집기
a= [1,3,4,5,2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [103]:
# 위치 반환
a=[1,2,3]
a.index(3)
#3의 위치는?

2

In [105]:
# 리스트에 요소 삽입
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [108]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [110]:
# 리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [112]:
# 리스트 요소 꺼내기
a=[1,2,3]
a.pop()

3

In [113]:
a

[1, 2]

In [114]:
# 요소 개수 세기
a=[1,2,3,1]
a.count(1)

2

In [116]:
# 리스트 확장
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [117]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [120]:
t1=()
t2=(1, )
t3=(1,2,3)
t4=('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [121]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

## 딕셔너리

In [123]:
dic = {'name':'추화정','phone':'01012345678'}

In [124]:
print(dic)

{'name': '추화정', 'phone': '01012345678'}

In [125]:
dic['name']

'추화정'

In [126]:
dic['phone']

'01012345678'

In [127]:
dic={'name':'추화정','name':'홍길동'}

In [129]:
dic['name']

'홍길동'

In [130]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [131]:
# 값이 뭐뭐 있나?
dic.values()

dict_values(['홍길동'])

## 불 자료형(bool)

In [133]:
# T / F
# True / False
3 > 1

True

In [135]:
1 > 3

False

In [138]:
if "ㅁㄹ":
    print("참")
else:
    print("거짓")

참

# 3장 제어문

## 1. if문

In [143]:
money = 1 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어 가야해ㅠ")

택시 타자

In [144]:
bool(money)

True

In [145]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spacebar 4번

SyntaxError: invalid syntax (<ipython-input-145-5c555d7bc5e2>, line 3)

In [147]:
money = 2000
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어 가자

In [148]:
money = 2000 # 내 돈
card = 1 # 카드가 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [149]:
pocket = ['paper', 'cellphone','card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가라")

택시 타자

In [151]:
# elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걷기")

택시

In [153]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장1

SyntaxError: invalid syntax (<ipython-input-153-ff9b201b45c8>, line 2)